@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap');
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*End CSS Reset*/

* {
    box-sizing: border-box;
    max-width: 100%;
    /* border: 1px solid black; */
}
html {
    font-size: 62.5%
    
}
body {
    background-image: linear-gradient(161deg, rgb(210, 228, 196) 0%, rgb(0, 78, 100) 100%);
    /*   background-attachment: fixed; */
    /* height: 100vh; */
    font-size: 2rem;
    line-height: 1.5;
    font-family: 'Dosis', sans-serif;
    /* background-color: #39465f; */
      }

header div.myName{
    margin: 0;
    padding: auto;
    /* border: 2px solid blue; */
}

.myName{
    color:#713e5a;
    font-family: 'Caveat', cursive;
}

h1 {
    font-size: 6rem;
    margin: 0 0 2% 2%;
    padding: 1% 0 0 0;
    /* border: 2px solid red; */
    text-shadow: 2px 2px 5px #B5CBB7;
}

h2 {
    font-size: 4.5rem;
    
}

h3 {
    font-size:2.5rem;
}
section.aboutMeBox h2 {
    margin: 2% 0;
}


header, footer {
    background-color: #9BA898;
    /* border:1px solid red; */
    
}

header nav{
    margin: 0 0 1.5% 3%;
    padding: 0 0 1% 0;
    display:flex;
}

/* header nav */
 a{
    padding: 25px;
    margin: 0;
    background-color: #D2E4C4;
    border:1px solid black;
    color: #004e64;
}
header nav a:first-of-type {
    background: #B5CBB7;
}

section.content div.topContent {
    display: flex;
    justify-content: space-around;

}

div.featuredProject {
    /* flex-grow: 20; */
    width: 48%;
}

div.myProjects{
    padding:auto;
    margin:5% 0;
}

section.aboutMeBox {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    /* align-items:stretch; */
    width: 48%;
}

section.aboutMeBox div.aboutMeContent {
    width:80%;
}

section.content div.portfolioContent {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;

}

div.projectContainer {
    width: 22%;
    margin: 2% 1% 2% 1%;
    text-align: center;
}

/* .projectContainer p {
    margin:0;
} */

footer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 5%;
}
footer div.socialMedia {
    display: flex;
    margin: 2% 0 0 0;
}
footer a.bottomContact {
    margin: 2% 0 0 0;

}

/* button {
    border-radius: 15px;
    box-shadow: 2px 2px 5px aquamarine;
    background-color: black;
    color:  white;

}

button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
} */

a {
    text-decoration: none;
}

a:hover {
    font-size: 3rem;
}

@media (max-width: 800px){
    .topContent{
        flex-flow: column;
        align-items: center;
    }
    .topContent .featuredProject {
        width:70%;
    }
    section.aboutMeBox {
        flex-flow:row wrap;
        width:90%;
    }
    section.aboutMeBox div.myName {
        flex-basis: 100%;
        text-align: center;
    }
    section.aboutMeBox h2{
        margin:0;   
    }

    section.aboutMeBox div.myProjects {
        flex-basis:auto;
    }
    section.aboutMeBox div.aboutMeContent{
        flex-basis:75%;
    }
}
@media (max-width: 500px){
    
    h1 {
        text-align:center;
        margin:0;
        padding:0;
    }

    header nav{
        flex-flow: column nowrap;
        align-items: center;
        padding: 0 auto;
        margin: 0 auto;
    }

    header nav a{
        padding: 8px ;
        text-align: center;
        width: 150px;
    }
    section.aboutMeBox {
        flex-flow: column nowrap;
        align-items:center;
        justify-content: center;
        margin-bottom: 1%;;
    }
    div.myProjects {
        margin:1.5% 0;
    }

    div.myProjects a{
        padding: 8px;
        width:150px;
        display:block;
        text-align:center;
    }

    .topContent .featuredProject{
        width:85%;
        margin-top: 2%;
    }
    section.content div.portfolioContent{
        justify-content: space-evenly;
    }
    div.projectContainer {
        width: 42%;
        margin: 3% 0;
    }
    footer div.socialMedia {

        flex-flow: column nowrap;
        margin: 0;
    }
    footer a.bottomContact {
        margin-bottom: 3%;
    
    }
    footer a{
        display:block;
        text-align: center;
        width: 150px;
        padding:8px 0;
    }
}